.formContainer {
    display: flex;
    }
    .input {
    display: inline;
    margin: auto;
    margin-top: 15px;
    }
    .form {
        margin-bottom: 50px;
    }
    .fromLeft {
        animation-name: fromLeft;
        animation-duration: 4s;
        animation: 
      }
      @keyframes fromLeft {
        0% { 
          transform: translateX(-120px);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
    
      .tekstForm2 {
        color: #4169E1;
        display: inline;
        margin-left: 15px;
      }
      .hr {
        width: 100%;
        background-color: dimgrey;
        height: 1px;
        margin-top: 30px;
        margin-bottom: 30px;
                    }
      