.navbarContainer {
    width: auto;
    height: 70px;
    background-color: dimgrey;
    color: white;
    display: flex;
    justify-content: center;
}

.navbarContent {
    width: 80%;
    height: 70px;
    background-color: grey;
    color: #4169E1;
    display: flex;
    justify-content: center;
   
}

.navbarLogo {
margin: 20px;

}

.navbarButton {
    margin: 20px;
    
    }

.apartamenty {
        font-size: 25px;
        color: #4169E1;
      
}
       
.wieza {
margin-top: 50px;

}
.pakiet{
    float: left;
    margin-left: 50px;
}
.pakiet1 {
display: inline-block;
margin-top: 50px;
};
a:link {
    color: blue;
}
a:visited {
            color: lightblue;
        }
a:active {
            color: rgb(241, 238, 9);
        }
.hr {
        width: 100%;
        background-color: dimgrey;
        height: 1px;
        margin-top: 30px;
        margin-bottom: 30px;
                    }