.fromLeft {
    animation-name: fromLeft;
    animation-duration: 4s;
    animation: 
  }
  @keyframes fromLeft {
    0% { 
      transform: translateX(-120px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .tekstForm1 {
    color: #4169E1;
  }
  